body{
    font-family: 'Bona Nova', serif;
   

}
.orange-color{
    color: orange;
}
.first-banner{
    display: flex;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    padding: 10px 20px;
    font: 800;
    color:white;
    border-radius: 20px;
    

}
.second-banner{
    background-image: url(images/shapes/7.png);
    display: flex;
   
} 
.centre{
    text-align: center;
}
.bottom-margin{
margin-bottom: 60px;
}


.item{
    padding: 2% 2% 2% 2%;
    margin-left: 4%;
    margin-right: 4%;
    
   box-shadow: 10px 10px 10px 10px gray;
    border-radius: 30px;
}
.all-item img{
  
    width:100%;
    
}
.all-item{
    display: flex;
}